nav {
  height: 10%;
  width: 100%;
  background-color: lightblue;
  text-align: center;
}

.main {
  height: 80%;
  width: 100%;
  background-color: lightgreen;
}

footer {
  height: 20%;
  width: 100vw;
  background-color: lightcoral;
  text-align: center;
}